@using Microsoft.Web.Mvc
@using BetterCms.Module.Root.Mvc.Helpers
@model BetterCms.Module.Root.ViewModels.Cms.RenderWidgetViewModel
<div class="banner" style="background-image: url('@(Model.GetOptionValue<string>("bannerImage"))')">
	
</div>