@using BetterCms.Module.Root.Mvc.Helpers
@model BetterCms.Module.Root.ViewModels.Cms.RenderWidgetViewModel
<div class="text-center container">
	<div class="col-sm-6 partner-description text-dark">@(Model.GetOptionValue<string>("description"))</div>
	<span class="col-sm-6">
		<a style="display: inline-block" href="http://annalink.com/"><img src="http://annalink.com/wp-content/themes/annalink/images/logo.png" alt="Annalink"></a>
	</span>
</div>